# dependencies
node_modules

# build output
dist
*.tsbuildinfo

# env
.env
.env.*

# IDEs
.vscode/*
!.vscode/settings.json
.idea

# system
.DS_Store
Thumbs.db

# Netlify
.netlify

# Replit (legacy)
.cache/
.local/
